/* Hladký scroll pro celou stránku */
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif; /* Roboto pro texty */
  box-sizing: border-box;
}

/* Úpravy pro hlavní obsah, aby nebyl zakrytý */
main {
  padding-top: 50px; /* Upravte podle výšky vaší navigace */
}
/* Fixní navigace */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  font-family: "Montserrat", sans-serif; /* Montserrat pro odkazy */
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover efekt pro odkazy v navigaci */
nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
  transform: scale(1.05);
}

/* Sekce */
section {
  padding: 120px 20px 60px;
  min-height: 100vh;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}
/* Obsah uvnitř sekce - zarovnání na střed */
.section-content {
  max-width: 1200px; /* Maximální šířka obsahu */
  margin: 0 auto; /* Zarovná na střed */
}

section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* Sekce s různými barvami pozadí */
#domu {
  background: #f9f9f9;
  padding: 50px;
  height: 680px;
}
#konstrukce {
  background: #f2f2f2;
}
#brusne-kotouce {
  background: #e9e9e9;
}
#vyroba {
  background: #e0e0e0;
}
#kontakty {
  background: #d7d7d7;
}
#ofirme {
  background: #cccccc;
}

/* Kontejner pro carousel */
.carousel-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  overflow: hidden;
  /* aspect-ratio: 16 / 6; */
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

/* Obsah carouselu */
.carousel {
  display: flex;
  transition: opacity 1s ease-in-out; /* Hladké přechody mezi obrázky */
  width: 100%;
  position: relative;
  height: 100%;
}

/* Každý slide v carouselu */
.carousel-slide {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Absolutní pozicování pro všechny slidy */
  opacity: 0; /* Začínáme s neviditelným obrázkem */
  transition: opacity 1s ease-in-out; /* Přechod opacity */
  width: 100%;
  height: 100%;
}

/* Aktivní slide bude mít opacity 1 */
.carousel-slide.active {
  opacity: 1;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}

/* Navigační tlačítka */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
}

button.prev {
  left: 15px;
}

button.next {
  right: 15px;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Rozdělí prostor mezi sekce */
  gap: 50px; /* Mezera mezi sekcemi */
  align-items: flex-start; /* Zarovná všechny položky k vrchu (top) */
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif; /* Moderní font */
  text-transform: uppercase; /* Velká písmena */
  letter-spacing: 2px; /* Prostor mezi písmeny */
  border-bottom: 2px solid #3b3a3a; /* Podtržení */
  /* display: inline-block; */
  padding-bottom: 10px;
}
.text-right {
  font-size: 1.3rem;
  color: #333;
}
.text-left {
  flex: 1;
  text-align: left;
  font-size: 1.2rem;
  color: #333;
  padding-left: 30px;
}
.text-left img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 100px auto;
  filter: brightness(0%);
}

/* Odrážky uprostřed vedle slideru */
.bullet-points {
  flex: 1;
  display: flex;
  flex-direction: column; /* Odrážky ve sloupci */
  /* justify-content: center; Vertikální centrování odrážek */
  text-align: left; /* Text zarovnaný vlevo */
  height: 100%; /* Zajistí, že bullet-points budou mít maximální výšku */
}
/* Vnitřní kontejner pro odrážky */
.bullet-points-inner {
  margin-left: 80px; /* Posun odrážek doprava uvnitř bullet-points */
  text-align: left; /* Zajišťuje zarovnání textu vlevo */
}
.bullet-points ul {
  list-style: none;
  padding: 0;
}

.bullet-points li {
  margin-bottom: 50px;
  position: relative; /* Pro pozici čtverečku */
  font-size: 18px; /* Velikost textu */
}

/* Ikona ozubeného kolečka před textem odrážky */
.bullet-points li::before {
  content: "\f013"; /* Unicode pro ikonu ozubeného kolečka */
  font-family: "Font Awesome 5 Free"; /* Použij Font Awesome */
  font-weight: 900; /* Pro solidní (plnou) verzi ikony */
  position: absolute;
  left: -40px; /* Umístění ikony vlevo před text */
  top: 50%;
  transform: translateY(-50%); /* Vertikální centrování ikony */
  font-size: 24px; /* Velikost ikony */
  color: #000000; /* Modrá barva pro ikonu */
}
[id="domu"] {
  scroll-margin-top: 60px; /* Nastav výšku podle velikosti hlavičky */
}

/* Obecné stylování sekcí */
section {
  background-color: #f9f9f9; /* Jemné pozadí */
  margin-bottom: 20px; /* Mezera mezi sekcemi */
  border-radius: 10px; /* Zaoblené rohy */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Jemný stín */
}

/* Nadpisy v sekcích */
section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif; /* Moderní font */
  text-transform: uppercase; /* Velká písmena */
  letter-spacing: 2px; /* Prostor mezi písmeny */
  border-bottom: 2px solid #3b3a3a; /* Podtržení */
  /* display: inline-block; */
  padding-bottom: 10px;
}

/* Obsah uvnitř sekcí */
.section-content {
  font-family: "Arial", sans-serif;
  color: #555;
  line-height: 1.6; /* Lepší čitelnost textu */
  /* max-width: 800px;  */
  margin: 0 auto; /* Zarovnání na střed */
}

/* Stylování seznamů */
section ul {
  list-style-type: none; /* Odebrání výchozích odrážek */
  padding: 0;
}

section ul li {
  position: relative; /* Pro ikonku */
  padding-left: 30px; /* Vytvoří místo pro ikonku */
  margin-bottom: 15px; /* Mezera mezi položkami */
  font-size: 1.2rem; /* Větší text */
  color: #333; /* Barva textu */
}

/* Přidání ikonky před každou položku */
section ul li::before {
  /* content: "\f0c8"; Font Awesome kód pro čtverec */
  content: "\f013"; /* Font Awesome kód pro čtverec */
  font-family: "Font Awesome 5 Free"; /* Font Awesome */
  font-weight: 900; /* Tučná varianta */
  position: absolute;
  left: 0; /* Umístění vlevo */
  top: 50%;
  transform: translateY(-50%); /* Vertikální zarovnání */
  font-size: 1.2rem;
  color: #4a4a4a; /* Barva ikonky */
  /* e65c00 */
}

#kontakty div div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#kontakty ul {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

#kontakty li {
  font-size: 1rem;
  color: #333;
  position: unset;
  margin-bottom: 5px;
  padding-left: 0px;
}
#kontakty > div > div > ul:nth-child(5) > li > p {
  margin: 0;
}
#kontakty h2 {
  flex-direction: column;
}
#kontakty ul li::before {
  all: unset;
}

#konstrukce div div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
}
#konstrukce > div > div > p > img {
  border-radius: 20px;
  box-shadow: 20px 25px 25px -2px rgba(199, 199, 199, 1);
  filter: grayscale(40%);
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#konstrukce > div {
  display: grid;
}

/* Globální styly navigace */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: relative;
}

/* Obecné styly pro hlavičku */
#main-header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
  display: none; /* Tlačítko toggle menu výchozí skryté */
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.menu-text {
  margin-left: 10px;
  font-size: 1.2rem;
}

.menu {
  display: flex; /* Výchozí menu je viditelné pro desktop */
  justify-content: space-around;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
}

.menu a:hover {
  background-color: #444;
}

@media screen and (max-width: 768px) {
  iframe {
    height: 300px; /* Menší výška iframe na mobilních zařízeních */
    width: 95%;
  }
}

/* Mobilní zobrazení */
@media screen and (max-width: 768px) {
  .menu {
    display: none; /* Skryjeme menu */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .menu.show {
    display: flex; /* Zobrazíme menu po kliknutí */
  }

  .menu ul {
    flex-direction: column; /* Menu je vertikální */
    align-items: center;
  }

  .menu li {
    border-bottom: 1px solid #444;
    width: 100%;
    text-align: center;
  }

  .menu a {
    padding: 15px 10px;
  }

  .menu-toggle {
    display: flex; /* Tlačítko viditelné pouze na mobilních zařízeních */
  }
}

/* Styly pro mobilní zařízení */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  section {
    padding: 80px 20px 40px;
  }

  section h2 {
    font-size: 2rem;
  }
}
/* Responzivní styly */
@media screen and (max-width: 1024px) {
  nav ul li {
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 60px; /* Nastavte výšku mezer podle potřeby */
  }
  /* Pro flex-container */
  #domu {
    height: 1045px;
  }
  .flex-container {
    flex-direction: column; /* Změní směr na sloupec */
    align-items: center; /* Zarovná obsah na střed */
    gap: 30px; /* Menší mezery mezi sekcemi */
  }

  /* Pro .text-right */
  .text-right {
    font-size: 1.3rem; /* Zmenšení velikosti písma pro mobil */
  }

  /* Pro .text-left */
  .text-left {
    font-size: 1.1rem; /* Zmenšení velikosti písma */
    padding-left: 15px; /* Menší odsazení */
    flex: none;
  }

  /* Pro bullet-points */
  .bullet-points {
    gap: 15px; /* Menší mezera mezi odrážkami */
  }

  .bullet-points-inner {
    margin-left: 45px;
  }
  .bullet-points li::before {
    font-size: 20px; /* Zmenšení ikony pro mobil */
    left: -30px; /* Posun ikony */
  }

  .bullet-points li {
    margin-bottom: 20px; /* Zmenšení mezery mezi odrážkami */
  }

  /* Pro carousel-wrapper */
  .carousel-wrapper {
    width: 100%; /* Zůstane šířka 100% */
    height: 500px; /* Zvětšení výšky carouselu */
  }

  .carousel-slide img {
    object-fit: cover; /* Zajištění lepšího přizpůsobení obrázku */
  }

  /* Pro tlačítka carouselu */
  button.prev,
  button.next {
    padding: 5px 8px; /* Zmenšení velikosti tlačítek */
  }

  /* Pro logo */
  .text-left img {
    max-width: 50%; /* Zmenšení velikosti loga */
    margin: 20px auto; /* Zmenšení mezery */
  }

  main {
    padding-top: 0;
  }

  #kontakty ul {
    padding-left: 0;
  }
  #kontakty ul li {
    margin-left: 10px;
  }
  #kontakty div div {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #kontakty > div > div > blockquote > p {
    text-align: center;
    border-bottom: 2px solid #3b3a3a;
    font-size: 1.3rem;
  }
  #kontakty > div > div > blockquote {
    padding: 0 auto;
    margin: 0 auto;
  }
  #konstrukce div div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
