<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title pro SEO -->
    <title>{{ .Site.Title }}</title>

    <!-- Meta description pro SEO -->
    <meta name="description" content="{{ .Description | default .Summary }}" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph meta tagy pro lepší zobrazení na sociálních sítích -->
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta
      property="og:description"
      content="{{ .Description | default .Summary }}"
    />
    <meta property="og:image" content="{{ .Site.BaseURL }}favicon.ico" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />

    <!-- Přidání stylů -->
    <link rel="stylesheet" href="/css/gallery.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/lightbox.css" />
    <!-- Přidání fontů z Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Skripty -->
    <script src="/js/slider.js" defer></script>
    <script src="/js/lightbox.js" defer></script>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <header id="main-header">
      <div class="menu-toggle" onclick="toggleMenu()">
        ☰ <span class="menu-text">Menu</span>
      </div>
      <nav class="menu">
        <ul>
          {{ if .IsHome }}
          <li><a href="#domu">Domů</a></li>
          <li><a href="#ofirme">O firmě</a></li>
          <li><a href="#konstrukce">Konstrukce</a></li>
          <li><a href="#vyroba">Výroba</a></li>
          <li><a href="#brusne-kotouce">Brusné kotouče</a></li>
          <li><a href="#kontakty">Kontakty</a></li>
          {{ else }}
          <li><a href="/">Domů</a></li>
          {{ end }}
          <li><a href="/fotky/">Fotogalerie</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ if eq .Slug "fotky" }}
      <!-- Stránka fotek, pouze galerie -->
      {{ .Content }}
      <!-- Vykreslíme obsah stránky (shortcode se zde vykreslí) -->
      {{ else }}
      <!-- Ostatní stránky -->
      {{ block "main" . }}{{ end }} {{ end }}
    </main>
    <footer class="footer">
      <div class="footer-container">
        <!-- Levá část: O firmě -->
        <div class="footer-left">
          <h3>VH-Technik</h3>
          <p><i>"Od návrhu, přes konstrukci až po výrobu"</i></p>
        </div>

        <!-- Střed: Logo -->
        <div class="footer-center">
          <img
            src="/images/LogoWH.png"
            alt="Logo VHTechnik"
            class="footer-logo"
          />
          <p>&copy; 2024 VH-Technik</p>
          <p>
            <i
              >„Tato stránka nepoužívá cookies ani nesleduje uživatelská
              data.“</i
            >
          </p>
        </div>

        <!-- Pravá část: Kontakt -->
        <div class="footer-right">
          <h3>Kontakt</h3>
          <p>
            <i class="fas fa-map-marker-alt"></i> V Újezdech 535/1 621 00 Brno -
            Medlánky
          </p>
          <p><i class="fas fa-phone"></i> +420 771 126 334</p>
          <p><i class="fas fa-envelope"></i> info@vh-technik.cz</p>
        </div>
      </div>
    </footer>
  </body>
</html>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ .Title }}",
    "description": "{{ .Description | default .Summary }}",
    "url": "{{ .Permalink }}"
  }
</script>
<script>
  function toggleMenu() {
    const menu = document.querySelector(".menu");
    menu.classList.toggle("show");
  }

  // Zavře menu při kliknutí na jakýkoli prvek v menu
  const menuItems = document.querySelectorAll(".menu a"); // nebo .menu li, pokud používáte seznam

  menuItems.forEach((item) => {
    item.addEventListener("click", function () {
      const menu = document.querySelector(".menu");
      menu.classList.remove("show");
    });
  });
</script>
