<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Přidání stylů pro patičku -->
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- Přidání fontů z Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <script src="/js/slider.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#domu">Domů</a></li>
          <li><a href="#konstrukce">Konstrukce</a></li>
          <li><a href="#brusne-kotouce">Brusné kotouče</a></li>
          <li><a href="#vyroba">Výroba</a></li>
          <li><a href="#kontakty">Kontakty</a></li>
          <li><a href="#ofirme">O firmě</a></li>
        </ul>
      </nav>
    </header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer class="footer">
      <div class="footer-container">
        <!-- Levá část: O firmě -->
        <div class="footer-left">
          <h3>VHTechnik</h3>
          <p><i>"Od návrhu, přes konstrukci až po výrobu"</i></p>
        </div>

        <!-- Střed: Logo -->
        <div class="footer-center">
          <img
            src="/images/LogoWH.png"
            alt="Logo VHTechnik"
            class="footer-logo"
          />
          <p>&copy; 2024 VHTechnik</p>
        </div>

        <!-- Pravá část: Kontakt -->
        <div class="footer-right">
          <h3>Kontakt</h3>
          <p>
            <i class="fas fa-map-marker-alt"></i> V Újezdech 535/1 621 00 Brno -
            Medlánky
          </p>
          <p><i class="fas fa-phone"></i> +420 771 126 334</p>
          <p><i class="fas fa-envelope"></i> info@vhtechnik.cz</p>
        </div>
      </div>
    </footer>
  </body>
</html>
