{{ define "main" }}
<div id="domu" class="flex-container">
  <!-- Vlevo: Text -->
  <div class="text-left">
    <img src="/images/LogoWH.png" alt="Logo WH" />
  </div>

  <!-- Uprostřed: Slider -->
  <div class="carousel-wrapper">
    <div class="carousel">
      {{ range .Params.images }}
      <div class="carousel-slide">
        <img src="{{ . }}" alt="Carousel Image" />
      </div>
      {{ end }}
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
  </div>

  <!-- Vpravo: Odrážky -->
  <div class="bullet-points">
    <div class="text-right">{{ .Content }}</div>
    <div class="bullet-points-inner">
      <ul>
        {{ range .Params.bullet_points }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

<!-- Dynamické načtení sekcí -->
{{ range sort .Site.RegularPages "Params.weight" }} {{ if not .IsHome }} {{if ne
.Slug "fotky"}}
<section id="{{ .File.Dir | path.Base }}">
  <div class="section-content">
    <h2>{{ .Title }}</h2>
    <div>{{ .Content }}</div>
  </div>
</section>
{{ end }} {{ end }} {{ end }} {{end}}
