{{ $dir := .Get "gallery_dir" }} {{ if not $dir }}
<!-- Pokud není `gallery_dir` nastaven, použijeme výchozí složku "gallery" -->
{{ $dir = "/gallery" }} {{ end }}
<ul class="image-gallery">
  {{ $fullDir := print "static" $dir }}
  <!-- Složka pro obrázky -->
  {{ $images := readDir $fullDir }}
  <!-- Čteme soubory z adresáře -->
  {{ range $images }} {{ if not .IsDir }}
  <!-- Zkontrolujeme, že to není složka -->
  <li>
    <a href="{{ $dir | absURL }}/{{ .Name }}" title="{{ .Name }}">
      <img src="{{ $dir | absURL }}/{{ .Name }}" alt="{{ .Name }}" />
    </a>
    <span>{{ .Name | replaceRE "(?i)\\.(jpg|jpeg|png)$" "" }}</span>
    <!-- Odstranění přípony souboru pro různé formáty (case-insensitive) -->
  </li>
  {{ end }} {{ end }}
</ul>
