{{ $dir := .Get "gallery_dir" }} {{ if not $dir }}
<!-- Pokud není `gallery_dir` nastaven, použijeme výchozí složku "gallery" -->
{{ $dir = "/gallery" }} {{ end }}
<ul class="image-gallery">
  {{ $fullDir := print "static" $dir }}
  <!-- Složka pro obrázky -->
  {{ $images := readDir $fullDir }}
  <!-- Čteme soubory z adresáře -->
  {{ range $images }} {{ if not .IsDir }}
  <!-- Zkontrolujeme, že to není složka -->
  <li>
    <a href="{{ $dir | absURL }}/{{ .Name }}" title="{{ .Name }}">
      <img src="{{ $dir | absURL }}/{{ .Name }}" alt="{{ .Name }}" />
    </a>
    <span>{{ .Name | replaceRE "(?i)\\.(jpg|jpeg|png)$" "" }}</span>
    <!-- Odstranění přípony souboru pro různé formáty (case-insensitive) -->
  </li>
  {{ end }} {{ end }}
</ul>

<!-- Lightbox struktura -->
<div id="lightbox" style="display: none">
  <div class="lightbox-content">
    <div id="lightbox-title"></div>
    <!-- Název obrázku nahoře -->
    <img id="lightbox-img" src="" alt="Lightbox Image" />
    <button id="prev-arrow" onclick="changeImage(-1)">&#10094;</button>
    <button id="next-arrow" onclick="changeImage(1)">&#10095;</button>
  </div>
</div>
